ansicolors==1.0.2
autocorrect==0.3.0
cffi==1.7.0
cov-core==1.15.0
coverage==3.7.1
docutils==0.12
fasteners==0.14.1
futures==3.0.5
lmdb==0.89
Markdown==2.1.1
monotonic==1.2
numpy==1.11.2
opencv-python==3.1.0.3
packaging==16.7
pantsbuild.pants==1.2.0
pathspec==0.3.4
pex==1.1.13
psutil==4.3.0
py==1.4.32
pycparser==2.17
Pygments==1.4
pyparsing==2.1.10
PyQt5==5.7
pyserial==3.2.1
pystache==0.5.3
pytest==2.6.4
pytest-cov==1.8.1
pywatchman==1.3.0
requests==2.5.3
scandir==1.2
setproctitle==1.1.10
sip==4.18.1
six==1.10.0
twitter.common.collections==0.3.9
twitter.common.confluence==0.3.9
twitter.common.dirutil==0.3.9
twitter.common.lang==0.3.9
twitter.common.log==0.3.9
twitter.common.options==0.3.9
